# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/out/
/.idea/
/main.fasting.iml
/main.fasting.ipr
/main.fasting.iws
/fasting.iml
/fasting.ipr
/fasting.iws
